<%-include('../partials/head') %>

    <body>
        <%-include('../partials/nav') %>
            <div class="p-6 max-w-2xl mx-auto bg-white rounded-lg shadow-lg">
                <h1 class="text-4xl text-amber-700 text-center font-extrabold mb-8">
                    Welcome to host home list
                </h1>
                <div class="space-y-8">
                    <% registerHome.forEach(home=> { %>
                        <div
                            class="border border-amber-200 rounded-lg p-6 flex flex-col md:flex-row items-center gap-6 shadow hover:shadow-xl transition">
                            <img src="<%= home.photoUrl %>" alt="Photo"
                                class="w-40 h-40 object-cover rounded-lg shadow-md border border-amber-300">
                            <div class="flex-1 space-y-2">
                                <h2 class="text-2xl font-semibold text-amber-800">
                                    <%= home.houseName %>
                                </h2>
                                <p class="text-lg text-green-700 bg-green-100 rounded px-4 py-2 shadow inline-block">
                                    $<%= home.price %> / month
                                </p>
                                <p class="text-yellow-600 font-medium">
                                    Rating: <span class="font-bold">
                                        <%= home.rating %>
                                    </span>
                                </p>
                                <p class="text-gray-600">
                                    Location: <span class="font-semibold">
                                        <%= home.location %>
                                    </span>
                                </p>
                            </div>
                            <a href="/host/home-edit/<%=home._id%>?editing=true" class="bg-blue-500 p-2 rounded-lg cursor-pointer">Edit</a>
                            <form action="/host/delete-home/<%=home._id%>" method="post">
                                <button type="submit" class="bg-red-500 p-2 text-white rounded-lg cursor-pointer">Delete</button>
                            </form>
                        </div>
                        <% }) %>
                </div>
            </div>
    </body>

    </html>